*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #ee713c 0%, #ffa781 100%);
    overflow: auto;
}

.header{
    position: relative;
    margin: 0 20px;
    padding: 0 40px;
    z-index: 5;
}

.navList{
    display: flex;
}

.headerInner{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 3rem 7rem;
}

.sippline{
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 0.3px;
    cursor:pointer;
}

.navigation ul{
    list-style: none;
    gap: 3rem;
    align-items:center;
}

.navigation a{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.95);
    font-size: 0.95rem;
}

.option1{
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    cursor:pointer;
    border:0;
    padding: .75rem 1.15rem;
    border-radius: 40px;
    transition: transform .14s ease, background-color .14s ease;
}

.small{
    padding: .85rem 1rem;
    border-radius: 999px;
    font-size: 1rem;
}

.buyNow{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.buyNow:hover{
    transform: translateY(-3px);
    background: #e55006;
    color: black;
}

.container{
    width: min(1500px, 100% - 1rem*2);
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.left{
    flex-basis: 36%;
    z-index: 5;
}

.right{
    flex-basis: 20%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 120px;
}

.left h2{
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

.left p{
    max-width: 44ch;
    color: rgba(255,255,255,0.92);
    margin-top: 0.5rem;
    line-height: 1.4;
}

.option2{
    margin-top: 1.6rem;
}

.buyGMask{
  background: #262626;
  color: white;
  padding: .95rem 1.6rem;
  border-radius: 40px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.18);
  display:inline-block;
  text-decoration:none;
  transition: transform .14s ease, background-color .14s ease;
}

.buyGMask:hover{
    transform: translateY(-3px);
    background: #e55006;
    color: black;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.imgWhite{
    height: 955px;
    width: 610px;
    background: white;
    position: relative;
    top: -369px;
    right: -123px;
    clip-path: polygon(74% 10%, 100% 10%, 100% 100%, 20% 50%);
    z-index: 2;
}

.imgPhoto{
    background-color: #fe732e;
    background-image: url(sipplinePhoto.jpg);
    background-position: 1% 65%;
    height: 750px;
    width: 544.5px;
    position: relative;
    top: -410px;
    right: -189px;
    clip-path: polygon(64% 15%, 100% 35%, 100% 65%, 68% 85%, 20% 52%);
    z-index: 6;
}

.imgOrange{
    height: 722px;
    width: 544px;
    background-size: 125%;
    background-position: 80px center;
    position: relative;
    top: -145.5px;
    right: -190px;
    clip-path: polygon(80% 0, 100% 0%, 100% 28%, 69% 10%);
    color: #fe732e;
    z-index: 4;
}

.imgOrange1{
    height: 722px;
    width: 544px;
    background-size: 125%;
    background-position: 80px center;
    position: relative;
    top: -446px;
    right: -189px;
    clip-path: polygon(100% 62%, 74% 80%, 100% 100%);
    color: #fe732e;
    z-index: 4;
}

.container2{
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.left1{
    flex-basis: 50%;
    z-index: 1;
}

.right1{
    flex-basis: 50%;
    z-index: 1;
}

.imgShape1{
    height: 700px;
    width: 350px;
    position: relative;
    top: -963px;
    right: -166px;
    background-color: #f1885b;
    border-radius: 0% 90% 70% 0% / 29% 27% 26% 49%;
    transform: rotate(75deg);
    color: transparent;
}

.imgShape2{
    height: 500px;
    width: 350px;
    position: relative;
    top: -380px;
    right: -216px;
    border-radius: 0% 80% 70% 0% / 29% 27% 26% 59%;
    transform: rotate(155deg);
    color: transparent;
}